*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../images/b3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    margin: 0 auto;
    display: flex;
    width: 100%;
}
.header {
    text-align: center; 
    color: white;
}
/* Kopā 4 DIV elementi */
.main, .photo, .languages, .schools {
    background:rgba(255,255,255, 0.7);
    border: 1px solid black;
    margin: 50px auto;
    border-radius: 4px;
    text-align: center;
}

/* Katrs DIV bloks atsevišķi */
/* Nosakot tā pozīciju */
.main {
    height: 550px;
    width: 430px;
}

.photo {
    height: 550px;
    width: 430px;
}

.languages {
    height: 100%;
    width: 430px;

}
.schools {
    height: 100%;
    width: 430px;
}

/* Fonts */
label, p, h1, h2, input[type=text], input[type=email], input[type=date], input[type=button] {
    font-family: arial;
}

/* Virsraksti h2 */
h2 { 
    padding: 30px 0 0 30px;
    color: #ff4500; 
    text-align: center;
    margin-bottom: 30px;
}

/* Lauki, kuros lietotājs izvēlas valodu runātprasmi, rakstītpasmi, lasītprasmi */
select {
    margin-left: 12px;
}

/* Teksta lauku, e-pasta un datumu lauku noformējums */
input[type=text], input[type=email], input[type=date] {
    width: 80%;
    margin: 25px 0 0 30px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}


/* Teksts zem pamatinformācijas bloka ievades laukiem un izglītības iestažu bloka ievades laukiem */
label {
    display: block;
    padding-left: 40px;
}

/* Pogas */
input[type=button], input[type=submit], input[type=file]{
    /* background: #555555; */
    border: 2px solid #ff4500;
    border-radius: 4px;
    color: #ff4500;
    text-transform: uppercase;
    font-weight: 700;
}

/* Poga, lai turpinātu */
.main-button__step1 {
    padding: 10px;
    width: 50%;
    margin: 45px auto;
    display: block;
}

.main-bdate__input:hover {
    cursor: pointer;
}

/* Teksts zem Pievienot Foto virsraksta */
.photo-upload__paragraph {
    margin-bottom: 30px;
}

/* Poga, lai pievienotu lietotāja foto*/
.photo-image__input {
    padding: 5px;
    margin: 20px 0 30px 0;
}

/* Atpakaļ un turpināt pogas */
.photo-button__return-to-step1, .photo-button__step2 {
    padding: 5px 10px 5px 10px;
}

/* Valodu bloks */

/* Pievienot un noņemt papildu skolas*/
.languages-add__button, .languages-remove__button {
    padding: 10px;
    width: 50%;
    margin: 10px auto;
}

.languages-add__button {
    display: block;
}

/* Atgriezties pie foto formas un turpināt uz mācību iestāžu formu pogas */
.languages-button__return-to-step2, .languages-button__step3 { 
    padding: 10px;
}


/* Mācību iestāžu bloks */

/* "Pievienot papildu skolas" un "Iesniegt" pogas */
.schools-add__button, .schools-remove__button {
    padding: 10px;
    width: 50%;
    margin: 10px auto;
}

/* Pievienot papildu skolas */
.schools-add__button {
    display: block;
}

/* Atgriezties uz valodu formu un IESNIEGT (submit) pogas */
.schools-button__return-to-step3, .main-button__submit {
    padding: 10px;
}

/* Hover */
.schools-add__button:hover, .schools-remove__button:hover, .languages-add__button:hover, .main-button__submit:hover, 
.main-button__step1:hover, .photo-button__return-to-step1:hover, .languages-button__return-to-step2:hover,
.photo-button__step2:hover, .languages-button__step3:hover, .languages-remove__button:hover, .schools-button__return-to-step3:hover {
    cursor: pointer;
    background-color: #ff4500;
    color: white;
}
